__pycache__/
services/__pycache__/
test/__pycache__/
utils/__pycache__/
*.py[cod]
*.pyd
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/
.env
.trae/
.vscode/settings.json
build/
dist/
*.spec
whisper_models/
config.json

.DS_Store
Thumbs.db
