/* General Styles */
body {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.page-title {
    font-size: 20px;
    text-align: center;
}

input, button {
    padding: 5px;
    margin: 5px;
}

#ai-response {
    border: 1px solid #444;
    padding: 10px;
    margin-top: 5px;
    min-height: 200px; /* 设置最小高度 */
    overflow-y: auto; /* 当内容超出高度时显示垂直滚动条 */
    clear: both;
    flex: 1; /* 让该元素自动填充剩余空间 */
}

.user-question {
    background-color: lightgreen;
    color: black;
    font-weight: bold;
}

.ai-thinking {
    background-color: white;
    color: gray;
}

.ai-response-normal {
    background-color: lightcyan;
    color: black;
}

.user-question p,
.ai-response-normal p,
.ai-thinking p {
    font-size: 14px;
}

.input-container {
    text-align: center;
    margin-top: 5px;
}

select {
    margin: 0 auto;
}

#ai-response:empty::before {
    content: attr(placeholder);
}

.textarea-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.textarea-container textarea {
    padding-right: 40px;
    width: 100%; /* 设置宽度为页面宽度的 80% */
    max-width: 100%; /* 确保不会超出容器宽度 */
    box-sizing: border-box; /* 让内边距和边框包含在宽度内 */
    resize: vertical; /* 允许垂直调整大小 */
}
/* Layout for buttons and selects */
#new-chat-button {
    float: left;
    margin-top: 0px;
    margin-bottom: 2px;
    margin-left: 0px;
}

#model-select {
    float: right;
    margin-top: 10px;
    margin-right: 0px;
}

#send-button {
    position: relative;
    float: right;
    bottom: 5px;
    margin-right: 0px;
}

/* 新增 Save 按钮样式 */
#save-button {
    position: relative;
    float: right;
    bottom: 5px;
    margin-right: 5px;
}

/* 新增样式，用于控制 reason on/off 按钮的样式 */
#reason-toggle {
    position: relative;
    bottom: 5px;
}

#reason-toggle.on {
    background-color: lightgreen;
}

#reason-toggle.off { 
    background-color:lightgrey; 
 } 

/* 新增样式，用于控制 search on/off 按钮的样式 */
#search-toggle {
    position: relative;
    float: left;
    bottom: 5px;
    margin-left: 0px;
}

#search-toggle.on {
    background-color: lightgreen;
}

#search-toggle.off { 
    background-color:lightgrey; 
 } 
